.nav-bar {
    width: 120px;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-group {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 60px;
    object-fit: contain;
    margin-top: 6px;
    margin-bottom: 6px;
}

.link-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.link {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    color: gray;
    text-align: center;
    text-decoration: none;
}

.link:hover{
    color: white;
}

.link-active{
    color: white;
    border-left: 6px solid white;
}

.btn {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
}

#user-img{
    border-radius: 100%;
}
